.hero{
    background-image: url(./master.jpg) ;
    background-size: auto 100%;
    background-repeat: no-repeat;
    object-fit: auto;
    height: 565px;
    width: 96%;
    display: flex;
    margin-left: 2%;
    position: relative;
}

.emp{
    height: 60px;
}


.hero_button{
    background-color: rgb(20,43,111);
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 70%;
    right: 45%;
    height: 50px;
    width: 160px;
    border-radius: 50px;
}

@media only screen and (max-width: 600px) {
   .hero{
       background-image: url(./Shero.jpg);
       background-size: auto 100%;
       background-repeat: no-repeat;
   }
 }