.hero_sec{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 70px;
}

.product{
    height: 300px;
    width: 60%;

}

.product_contain{
    /* height: 90px; */
    width: 250px;
    display: flex;
    position: relative;
}

.product_contain > p {
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: #ffffffe5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}


@media only screen and (max-width: 600px) {
    .hero_sec{
        overflow-x: scroll;
    }

    .product{
        width: 80%;
        margin-right: 10px;
    } 
}
